* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
  padding: 60px;
  background-color: #D3D4D8;
  font-size: 1.5rem;
}

input {
  color: white;
  font-size: 1.4rem;
  width: 100%;
  background-color: #676D6E;
  border: 10px;
}

.card {
  font-size: 1rem;
  align-content: center;
  color: white;
  border: 1px solid #676D6E;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 170px; 
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}